@model IEnumerable<HotelBookingApp.Models.RoomViewModel>
@{
    Layout = "_AdminLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room List</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #f5f5dc; /* Soft cream color */
        }
    </style>
</head>
<body>
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-5 rounded-lg shadow-lg max-w-7xl w-full">
            <h2 class="text-2xl font-bold mb-4">Room List</h2>
            <p>
                <a href="@Url.Action("Create")" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">Create New Room</a>
            </p>
            <table id="roomsTable"  class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                    <tr>
                        <td>@room.RoomNumber</td>
                        <td>@room.RoomType.Name</td>
                        <td>@room.Status</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Rooms" asp-route-id="@room.RoomId" class="btn btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-controller="Rooms" asp-route-id="@room.RoomId" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                    </tr>
                }
            </tbody>
            <</table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#roomsTable').DataTable({
                responsive: true
            });
        });
    </script>
</body>
</html>
